/* ==========================================================================
   #WRAPPER
   ========================================================================== */

$wrapper-width: 1200px !default;

.l-wrapper {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: $wrapper-width;
}

/* Size variants.
   ========================================================================== */