/* ==========================================================================
   #PSEUDO
   ========================================================================== */

@mixin pseudo {
  content: '';
  position: absolute;
  display: block;
}
